@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin overlay-small {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /*82%;*/
  height: 100%; /*20%;*/
  color: #fff;
  padding: 0 3px;
  text-align: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// media mixins
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}
